{% extends "form_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form_title %}{% trans "c-lab PIN"%}{% endblock %}

{% block form_description %}
    <p>{% blocktrans %}Change your c-lab PIN to access the c-lab in the basement.{% endblocktrans %}</p>
{% endblock %}

{% block form_fields %}
    <form action="{% url 'clabpin' %}" method="post" class="form-horizontal well">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">{% trans "Save"%}</button>
            </div>
        </div>
    </form>
{% endblock form_fields %}