{% extends "base.html" %}

{% block container %}
        <div class="row">
            <div class="span12">
                <h2>{{ request.user.username }}</h2>
                {% for g in request.user.groups.all %}
                    {% if g.name == "ceymaster" %}
                        <badge class="badge badge-important">
                            {{ g }}
                        </badge>
                    {% elif "cey" in g.name %}
                        <badge class="badge badge-warning">
                            {{ g }}
                        </badge>
                    {% elif g.name == "ldap_admins" %}
                        <badge class="badge badge-success">
                            {{ g }}
                        </badge>
                    {% else %}
                        <badge class="badge">
                            {{ g }}
                        </badge>
                    {% endif %}
                    <br />
                {% empty %}
                    no groups...
                {% endfor %}
            </div>
        </div>
{% endblock container %}
