{% extends "member_base.html" %}
{% load i18n %}

{% block container %}
    <div class="row">
        <div class="span12">
            <h2>{% trans "Welcome to the c-base member interface" %}</h2>
            <p class="leas">{% blocktrans %}You are one of currently {{ number_of_members }}
            c-base members.{% endblocktrans%}</p>
            <p>{% blocktrans %}Here you can change some parameters of your
                c-base member account.{% endblocktrans %}</p>

            <h3>{% trans "Basic information about your account" %}</h3>

            <ul>

                <li>{% trans "Your user ID:" %}
                    <code>{{ member.uid }}</code></li>
                <li>{% trans "Numeric user ID:" %}
                    <code>{{ member.uidNumber }}</code><br />
                    <span class="muted">{% blocktrans %}The numeric user ID can
                        be used to login with the vending machines and network
                        connected combination locks.{% endblocktrans %}</span></li>
                <li>
                    {% trans "Your c-base e-mail address:" %}
                    <code>{{ member.mail }}</code>
                </li>
            </ul>

            <h3>{% trans "Your group memberships" %}</h3>
            {% trans "You are part of the following LDAP groups:" %}
            <ul>
                {% for group in groups %}
                <li><span class="label label-info">{{ group }}</span></li>
                {% endfor %}
            </ul>

<!--
            <h3>{% trans "Management information" %}</h3>
            <table class="table table-condensed table-bordered table-hover">
                <tr><td>{% trans "Crewname:" %}</td><td>{{ cteward.Crewname }}</td></tr>
                <tr><td>{% trans "Membership Number:" %}</td><td>{{ cteward.Mitgliedsnummer }}</td></tr>
                <tr><td>{% trans "Status:" %}</td><td>{{ cteward.Status }}</td></tr>
                <tr>
                  <td>{% trans "External e-mail address:" %}</td><td>{{ member.externalEmail }}</td>
                  <td>
                    <span class="muted">{% blocktrans %}The external e-mail address is used by the
                    board of c-base to reach you in cases where your c-base
                    address (see above) is not working. To change your
                    external e-mail address please contact the c-base board via {% endblocktrans %}
                    (<a href="mailto:cash@c-base.org">cash@c-base.org</a>).</span>
                  </td>
                </tr>
            </table>
	    <a href="{% url "memberstatus" %}">{% trans "More" %}
        </div>
    </div>
-->
{% endblock container %}
