{% extends "form_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form_title %}{% trans "NRF24"%}{% endblock %}

{% block form_description %}
    <p>{% blocktrans %}The NRF24 identification is used to interface with the
    CCC's <a href="http://r0ket.badge.events.ccc.de/">r0ket badge</a>.{% endblocktrans %}</p>
{% endblock %}

{% block form_fields %}
    <form action="{% url account.views.nrf24 %}" method="post" class="form-horizontal well">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </div>
    </form>
{% endblock form_fields %}