{% extends "form_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form_title %}{% trans "SIP PIN"%}{% endblock %}

{% block form_description %}
    <p>{% blocktrans %}The SIP PIN is your access to the c-base SIP server for voice telephony.{% endblocktrans %}</p>
{% endblock %}

{% block form_fields %}
    <form action="{% url account.views.sippin %}" method="post" class="form-horizontal well">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">{% trans "Save"%}</button>
            </div>
        </div>
    </form>
{% endblock form_fields %}