{% load i18n %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="de">
<head>
    <title>
        {% if title %}
            {{ title }} - c-base member-interface
        {% endif %}
        c-base member-interface
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <!-- link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico" -->
    <!-- link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png" -->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <span class="brand"><a href="/">{% trans "c-base Member Interface" %}</a></span>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-left">

                    {% if request.user.is_authenticated %}
                    <i class="icon-user icon-white"></i> {{ request.user.username }}{% endif %}
                </p>

                <div class="pull-right">
                    <ul class="nav">
                        {% if request.user.is_authenticated %}
                            <li><a href="/account/logout/">Logout</a></li>
                        {% else %}
                            <li><a href="/account/login/">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
{% block mainnav %}
    {% if request.user.is_authenticated and navigation %}
        {#% include "navigation.html" %#}
    {% endif %}
{% endblock mainnav %}
<br/>
{% block body %}
    <div class="container">
    {% block container %}
        <div class="row">
            <div class="span8">
                <div class="well">
                    <h2>c-base member-interface</h2>
                    {% blocktrans %}On this website any member can view and
                    edit their data stored in the LDAP directory of
                    c-base.{% endblocktrans %}
                </div>
                <div class="alert alert-info alert-block">
                    {% blocktrans %}If you are a new member and don't have a
                    password yet, please contact one of the following people:{% endblocktrans %}
                    <ul>
                        {% for admin in admins %}
                            <li>{{ admin}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                <h4>Login</h4>
                <form class="form" action="/account/login/?next={% url account.views.home %}"
                      method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">{% trans "Sign in" %}</button>
                        </div>
                    </div>
                </form>
                </div><!-- /.well -->
            </div>
        </div>
    {% endblock container %}
    <hr />
    <div class="row pull-right">
        <small class="muted">Copyright &copy; 2013 by c-base e.V.</small>
    </div>
    </div><!-- /.container -->
{% endblock body %}
<script src="/static/js/bootstrap.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/static/js/bootstrap-transitions.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
</body>
</html>
